html {
  font-size: 20px;
}

body {
  font-size: 20px;
}

.parent {
  font-size: 10px;
}
.div {
  width: 15rem; /* 20px * 15 = 300px */
  height: 10rem; /* 20px * 10 = 200px */
  border: solid 1px black;
}
